/* PARTE DO HERO */
.hero-img {
  height: 460px;
  width: 100%;
  background: url(../img/hero-pacotes-mobile.png) no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.hero {
  width: auto;
  margin-bottom: 88px;
}

.hero .hero-img h2 {
  text-align: left;
  font-weight: var(--title-weight);
  font-size: 48px;
  color: var(--text-secondary-color);
  width: 312px;
  padding: 65px 0 16px 24px;
}

.hero .hero-img hr {
  background-color: var(--secondary-color);
  border: none;
  width: 180px;
  height: 4px;
  margin-left: 24px;
}

.hero .hero-img p {
  font-size: 20px;
  line-height: 32px;
  width: 312px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
  margin: 32px 0 0 24px;
}

.payments .content .text-content h2 {
  font-size: 40px;
  margin-bottom: 24px;
}

/* PARTE DOS PAGAMENTOS*/

.image-content .bag {
  background: url(../img/payments-img-1-mobile.png) no-repeat;
  background-size: cover;
}
.image-content .passport {
  background: url(../img/payments-img2-mobile.png) no-repeat;
  background-size: cover;
}
.image-content .peaple {
  background: url(../img/payments-img3-mobile.png) no-repeat;
  background-size: cover;
  grid-column: span 2;
}

/* HERO-FOOTER */

.hero-footer {
  background: url(../img/hero-footer-pacotes-mobile.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  background-position: center center;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(../img/hero-pacotes-tablet.png) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .hero .hero-img h2 {
    text-align: left;
    font-weight: var(--title-weight);
    font-size: 48px;
    color: var(--text-secondary-color);
    width: 579px;
    padding: 210px 0 16px 120px;
  }

  .hero .hero-img hr {
    margin-left: 120px;
  }

  .hero .hero-img p {
    width: 579px;
    font-size: 32px;
    font-weight: var(--text-weight);
    line-height: 1.5;
    margin: 32px 0 0 120px;
  }

  /* PARTE DOS PAYMENTS*/
  .image-content .bag {
    background: url(../img/payments-img1-tablet-desktop.png) no-repeat;
    background-size: cover;
  }
  .image-content .passport {
    background: url(../img/payments-img2-tablet-desktop.png) no-repeat;
    background-size: cover;
  }
  .image-content .peaple {
    background: url(../img/payments-img3-tablet-desktop.png) no-repeat;
    background-size: cover;
    grid-column: span 2;
  }

  /* HERO-FOOTER */

  .hero-footer {
    background: url(../img/hero-footer-pacotes-tablet.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    background-position: center center;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(../img/hero-pacotes-desktop.png) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .hero .hero-img h2 {
    padding: 159px 0 16px 120px;
  }

  /* Sublinhar o pacote de viagem*/

  nav .list-links a.sublinhado {
    text-decoration: underline;
  }
}

@media screen and (min-width: 1440px) {
  .hero-footer {
    background: url(../img/hero-footer-pacotes-desktop.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center center;
  }
}
