.destination-items {
  width: 312px;
  margin: auto;
}

.destinations{
  margin-bottom: 64px;
}

.destinations .item header {
  display: block;
  position: static;
  padding: 0;
  height: relative;
  height: auto;
  width: 100%;
  background-color: transparent;
  margin-bottom: 24px;
}

.destinations .item header h4 {
  font-size: 24px;
  font-weight: var(--title-weight);
}

.destinations .item p {
  width: 100%;
  font-size: 18px;
  text-align: left;
  margin-bottom: 24px;
  line-height: 1.8;
}

.destination-items .item .button {
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.tokyo {
  display: block;
  width: 312px;
  height: 360px;
  margin-bottom: 24px;
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.osaka {
  display: block;
  width: 312px;
  height: 360px;
  margin-bottom: 24px;
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .destination-items {
    width: 648px;
    margin: auto;
  }

  .tokyo {
    display: block;
    width: 100%;
    height: 452px;
    margin-bottom: 24px;
    background: url(../img/tokyo-tablet-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .osaka {
    display: block;
    width: 100%;
    height: 452px;
    margin-bottom: 24px;
    background: url(../img/osaka-tablet-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .destination-items .item .button {
    margin-bottom: 40px;
    text-align: center;
    width: 280px;
  }
}

@media screen and (min-width: 1440px) {
  .destination-items {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }
  .item{
    width: 588px;
  }
}
