@charset "UTF-8";

@font-face {
  font-family: "Monteserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Monteserrat";
  color: var(--text-primary-color);
}

section {
  width: 320px;
  margin: auto;
}
 
.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  width: 290px;
  margin: 0 auto;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}

.button {
  display: inline-block;
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  text-decoration: none;
  line-height: 64px;
}

.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.content-text {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
    width: auto;
  }
  section {
    width: 648px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 1440px) { 
  section {
    width: 1200px;
    margin: auto;
  }

  .section-title {
    margin-bottom: 64px;
  }
}
