.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/banner-mobile.png) no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.hero h2 {
    text-align: center;
    padding: 88px 24px;
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(../img/banner-tablet.png) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
}
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(../img/banner-desktop.png) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .hero h2 {
    padding: 88px 120px;
    font-size: 32px;
}
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
    font-size: 32px;
}
}