.hero-img{
    height: 400px;
    width: 100%;
    background: url(../img/banner-mobile.png) no-repeat;
    background-size: cover;
    background-position: center bottom;
}

@media screen and (min-width: 768px) {
    .hero-img{
        height: 620px;
        width: 100%;
        background: url(../img/banner-tablet.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

@media screen and (min-width: 1024px) {
    .hero-img{
        height: 620px;
        width: 100%;
        background: url(../img/banner-desktop.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }
}