@charset "UTF-8";

:root{
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #0000;

    --button-primary-color: #8F0101;
    --button-secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-primary-color);
}

h1{
    color: var(--button-primary-color);
}