.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.testimonial-container header{
    padding: 0px;
}

.testimonial-container article header p{
    font-size: 16px;
    line-height: 28px;
    padding: 0;
}

.testimonial-container footer{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    margin-top: 8px;
}

.testimonial-container footer img{ 
     height: 86px;
     width: 86px;
}

.testimonial-container footer .profile-content h4{
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weight);
    margin-bottom: 8;
}

.testimonial-container footer .profile-content .rating .star{
    font-size: 32px;
    color: var(--secondary-color);
    line-height: 32px;
}

@media screen and (min-width: 1440px) {
  .testimonial-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}
