.item{
    display: flex;
    justify-content: space-between;
}

.item p {
    margin: 0;
}

.balance{
    display: flex;
    flex-direction: column;
    color: var(--neutral-text);
    font-size: 14px;
    line-height: 20px;
}

.name{
    color: var(--neutral-text);
    gap: 8px;
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
}